@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

html {
    scroll-behavior: smooth;
}

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    box-sizing: border-box;
}

body>* {
    /* border-inline: #bfbfbf 1px solid; */
    width: 100%;
}

h5 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

/** STYLE HEADER START */
header {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    border-bottom: none;
}

header img {
    max-width: 1440px;
}

@media screen and (max-width: 555px) {
    header img {
        width: 900px;
    }
}
/** STYLE HEADER END */

/** STYLE NAV START */
.main-nav {
    width: 1440px;
    border: #bfbfbf 1px solid;
    margin-bottom: 0px;
    border-top: none;
    position: sticky;
    z-index: 10;
    top: 0;
    background: #fff;
}

.main-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.main-nav li {
    list-style: none;
    z-index: 10;
}

.main-nav li a {
    color: #464646;
    text-decoration: none;
}

.nav-item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    height: 50px;
    background: #ffffff;
    color: #464646;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 10;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}


#navbarSupportedContent .nav-item {
    z-index: 1;
}

.ni-login {
    background: #3D3D3D;
    width: 60px;
    height: 50px;
    position: relative;
    justify-content: center;
    align-content: center;
}

.ni-login svg {
    background: #3D3D3D;
    width: 50px;
    height: 49px;
    position: relative;
}

.login-buttons {
    opacity: 0;
    border: #bfbfbf 1px solid;
    padding: 10px;
    background-color: #FFFFFF;
    position: absolute;
    z-index: -1;
    transform: translateY(-48px);
    transition: transform ease-in-out 200ms,
        z-index ease-in-out 500ms,
        opacity ease-in-out 100ms;

}


.login-buttons-show {
    transform: translateY(0px);
    z-index: 99;
    opacity: 1;
}

.ni-1 {
    border-bottom: #919191 5px solid;
    transition: background-color ease-in-out 200ms;
}

.ni-1:hover {
    background-color: #919191;
    color: #ffffff;
}

.ni-2 {
    border-left: #ebebeb solid 0.5px;
    border-bottom: #E3350D 5px solid;
    transition: background-color ease-in-out 200ms;
}

.ni-2:hover {
    background-color: #E3350D;
    border-color: #E3350D;
    color: #ffffff;
}

.ni-3 {
    border-left: #ebebeb solid 0.5px;
    border-bottom: #EE6B2F 5px solid;
    transition: background-color ease-in-out 200ms;
}

.ni-3:hover {
    background-color: #EE6B2F;
    border-color: #EE6B2F;
    color: #ffffff;
}

.ni-4 {
    border-left: #ebebeb solid 0.5px;
    border-bottom: #23B028 5px solid;
    transition: background-color ease-in-out 200ms;
}

.ni-4:hover {
    background-color: #23B028;
    border-color: #23B028;
    color: #ffffff;
}

.ni-5 {
    border-left: #ebebeb solid 0.5px;
    border-bottom: #2F42EE 5px solid;
    transition: background-color ease-in-out 200ms;
}

.ni-5:hover {
    background-color: #2F42EE;
    border-color: #2F42EE;
    color: #ffffff;
}

.ni-6 {
    border-left: #ebebeb solid 0.5px;
    border-bottom: #EAEE2F 5px solid;
    transition: background-color ease-in-out 200ms;
}

.ni-6:hover {
    background-color: #f5f845;
    border-color: #f5f845;
    color: #8d8d8d;
}

.menu-nav {
    display: flex;
}

.burger {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 11px;
    left: 15px;
    background-color: #e9e4e4;
    padding: 5px 10px;
    z-index: 100;
    transform: scale(1.5);
}

.bar {
    display: block;
    width: 40px;
    height: 6px;
    margin: 5px auto;
    transition: all 0.3s ease;
    background-color: rgb(0, 0, 0);
}

.profil-nav-item {
    z-index: 0;
}

/** NAV RESPONSIVE */

@media(max-width: 650px) {
    .burger {
        display: block;
    }

    .burger.active {
        background-color: white;
    }

    .burger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .burger.active .bar:nth-child(1) {
        transform: translateY(10.5px) rotate(45deg);
    }

    .burger.active .bar:nth-child(3) {
        transform: translateY(-10.5px) rotate(-45deg);
    }

    .menu-nav {
        position: fixed;
        left: -100%;
        top: 0;
        gap: 0;
        display: block;
        background-color: #c0c2c500;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 99;
        padding: 0px 0px;
    }

    .nav-item {
        height: 77px;
        margin: 0;
        align-content: center;
        justify-content: center;
    }

    .menu-nav.active {
        top: 0;
        left: 0;
    }

    .menu-nav.active .loginButtonLi {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        background: #fff;
    }

    .menu-nav.active .loginButtonLi .ni-login {
        height: 71px;
        width: 71px;
    }


    .bouttons-connexion {
        display: flex;
        flex-direction: column;
    }
}



/** STYLE NAV END */

/** STYLE SLIDER START */

.carousel-container {
    /* max-width: 1440px; */
    width: 100%;
    height: 520px;
    padding: 50px 0;
    overflow: hidden;
}

.slider-header {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #919191;
    justify-content: space-between;
    padding: 0 200px;
}

.slider-btn {
    background-color: #232323;
    border-radius: 10px 10px 0 0;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.slider-header a {
    color: #919191;
    text-decoration: none;
}

.slider-icon {
    fill: #919191;
    width: 20px;
    height: 20px;
}

.slider-header-right {
    cursor: pointer;
}

.slider-header-right:hover .slider-icon,
.slider-header-right:hover {
    color: white;
    fill: white;
}

.carousel {
    background: #ffffff;
}

.carousel-cell {
    width: 360px;
    height: 320px;
    background: #616161;
    border-inline: 3px solid #232323;
    counter-increment: carousel-cell;
    transition: height 200ms ease-in-out;
}

.carousel-img {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0%;
    left: 20%;
    opacity: 0.4;
    transition: all 200ms ease-in-out;
}

.carousel-poke-nbr {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 89px;
    text-align: center;
    line-height: 95px;
    color: #6767678d;
}

.carousel-footer {
    flex-direction: column;
    padding: 15px 15px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #313131;
    width: 100%;
    transition: all 200ms ease-in-out;
}

.carousel-footer h5 {
    scale: 0.8;
    text-align: center;

}

.carousel-footer-nbr {
    float: inline-end;
    top: 0;
    display: none;
}

.crsl-ft-r2 {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}


.crsl-ft-type,
.type-label {
    display: none;
}

.carousel-cell.is-selected .carousel-footer-nbr,
.carousel-cell.is-selected .crsl-ft-type,
.carousel-cell.is-selected .type-label {
    display: inline-block;
}

.carousel-cell.is-selected .carousel-footer h5 {
    scale: 1;
    text-align: left;
}

.carousel-cell.is-selected .carousel-footer {
    border-radius: 0 0 15px 15px;
    height: 140px;
    background-color: #232323;
}

.carousel-cell.is-selected {
    height: 370px;
    border-radius: 0 0 15px 15px;
}

.carousel-cell.is-selected img {
    top: -10%;
    opacity: 1;
    scale: 1.2;
    z-index: 2;
}

.carousel-cell.is-selected .carousel-poke-nbr {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 140px;
    line-height: 140px;
    align-items: center;
    text-align: center;
    color: #adadadcc;
}

/** STYLE SLIDER END */


/** TYPES COLORS */

.carousel-pokemon-details {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    float: left;
}


.type-label {
    border-radius: 4px 4px 4px 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 5px 10px;
    margin-left: 5px;
}

.type-colors-feu {
    background-color: #E3350D;
}
.type-colors-plante {
    background-color: #68D037;
}
.type-colors-eau {
    background-color: #1E90FF;
}
.type-colors-insecte {
    background-color: #729f3f;
}
.type-colors-poison {
    background-color: #800080;
}
.type-colors-normal {
    background-color: #a4acaf;
}
.type-colors-glace {
    background-color: #289e9e;
}
.type-colors-electrik {
    background-color: #d0b118;
}

.type-colors-psy {
    background-color: #a549a5;
}

.type-colors-acier {
    background-color: #3d5256;
}

.type-colors-combat {
    background-color: #700000;
}

.type-colors-tenebres {
    background-color: #1a1a1a;
}

.type-colors-roche {
    background-color: #80744a;
}

.type-colors-sol {
    background-color: #865036;
}

.type-colors-spectre {
    background-color: #353e71;
}

.type-colors-vol {
    background-color: #5d75a1;
}

.type-colors-dragon {
    background-color: #0C69C8;
}

.type-colors-fee {
    background-color: #EE90E6;
}

/** STYLE TYPES PAGES START  */

#inputPage {
    width: 20px;
    display: inline;
}

.type-card {
    width: 250px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    cursor: pointer;
    transition: opacity 200ms ease-in-out, scale 200ms ease-in-out;
}

.type-card:hover {
    opacity: 0.5;
    scale: 1.1;
}

.card-feu {
    background-color: #E3350D;
}

.card-plante {
    background-color: #68D037;
}

.card-Eau {
    background-color: #1E90FF;
}

.card-Glace {
    background-color: #1DFFFF;
}

.card-Normal {
    background-color: #CD853F;
}

.card-Electrik {
    background-color: #FFDB1D;
}

.card-Poison {
    background-color: #800080;
}

.card-Insecte {
    background-color: #729f3f;
}

.card-Psy {
    background-color: #EE82EE;
}

.card-Combat {
    background-color: #8B0000;
}

.card-Acier {
    background-color: #C0C0C0;
}

.card-Tenebres {
    background-color: #3D3D3D;
}

/** STYLE PAGE CREER START **/

.form-add-container {
    z-index: 11;
    position: absolute;
    top: 0px;
    left: auto;
    max-width: 600px;
    transform: translateY(-250vh);
    transition: transform 0.5s ease-in-out;
}

.form-outline {
    border-radius: 4px;
    border: 1px solid #BDBDBD;
}

.form-add-container.active {
    transform: translateY(5%);
}

.form-add-container form {
    margin-top: 50px;
}

.btn-form {
    background: #232323;
    color: #FFFFFF;
}

.btn-form:hover {
    background: #6d6d6d;
    color: #FFFFFF;
}

.error {
    color: red;
}

.col-form-r {
    margin-right: 10px;
}

.closer {
    z-index: 1;
}

#image-preview {
    max-width: 100%;
    max-height: 200px;
}

.custom-label {
    position: absolute;
    top: 0;
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    left: 0.75rem;
    padding-top: 0.37rem;
    pointer-events: none;
    transform-origin: 0 0;
    transition: all .2s ease-out;
    color: rgba(0, 0, 0, .6);
    margin-bottom: 0;
}

#evolution_from_container {
    margin-left: -10px;
    margin-right: -10px;
}

.centered {
    text-align: center;
}

#type_create .select2-selection__choice {
    font-size: 12px !important;
    padding: 0 !important;
}

.form-control:focus+.custom-label {
    transform: translateY(-1rem) translateY(0.1rem) scale(.8);
    color: #3b71ca;
}

.custom-label.active {
    transform: translateY(-1rem) translateY(0.1rem) scale(.8);
}



/*Style pokeball*/

.center-on-page {
    z-index: 5;
    position: absolute;
    top: -50px;
    right: -50px;
}

/* Poké Styles */
.pokeball {
    width: 200px;
    height: 200px;
    scale: 0.3;
    background: #fff;
    border: 10px solid #000;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset -10px 10px 0 10px #ccc;
}

.pokeball--animation {
    animation: .3s fall .25s ease-in-out,
        shake 1.25s cubic-bezier(.36, .07, .19, .97) 3;
}

.pokeball::before,
.pokeball::after {
    content: "";
    position: absolute;
}

.pokeball::before {
    background: red;
    width: 100%;
    height: 50%;
}

.pokeball::after {
    top: calc(50% - 10px);
    width: 100%;
    height: 20px;
    background: #000;
}

.pokeball__button {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    background: #7f8c8d;
    border: 10px solid #fff;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 10px black;
    animation: blink .5s alternate 7;
}

.pokeball:hover {
    animation: shake 1.25s cubic-bezier(.36, .07, .19, .97) infinite;
}

.pokeball:hover .pokeball__button {
    animation: blink .5s alternate infinite;
}

/* Animation */
@keyframes blink {
    from {
        background: #eee;
    }

    to {
        background: #e74c3c;
    }
}

@keyframes shake {
    0% { transform: translate(0, 0) rotate(0); }
    20% { transform: translate(-10px, 0) rotate(-20deg); }
    30% { transform: translate(10px, 0) rotate(20deg); }
    50% { transform: translate(-10px, 0) rotate(-10deg); }
    60% { transform: translate(10px, 0) rotate(10deg); }
    100% { transform: translate(0, 0) rotate(0); }
}

@keyframes fall {
    0% {
        top: -200px
    }

    60% {
        top: 0
    }

    80% {
        top: -20px
    }

    100% {
        top: 0
    }
}

/** STYLE PAGE CREER END **/

/** STYLE MON PROFIL START*/

.trg-btn {
    border-radius: 5px;
}

.trg-btn.onuse {
    background-color: #232323;
    color: #FFFFFF;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.overlay.active {
    display: block;
}

.dash-p-img {
    width: 75px;
    height: 75px;
}

.dash-table {
    max-width: 1440px;
    border-top: #bfbfbf 1px solid;
    margin-bottom: 0;
}

.toast {
    position: fixed;
    background-color: #e2e2e2;
    top: 75px;
    left: 50%;
    transform: translate(-50%);
    z-index: 50;
}



/** STYLE MON PROFIL END*/

/** STYLE LOGIN PAGE START */
.login-ctn {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 1440px;
    height: 600px;
    background-image: url(../img/login/Frame\ 39.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.register-form-ctn {
    position: absolute;
    left: 36%;
    max-width: 650px;
    z-index: 2;
    transition: transform .3s ease-in-out;
}

.login-form-ctn {
    position: absolute;
    left: 31.5%;
    max-width: 500px;
    z-index: 1;
    transition: transform .3s ease-in-out;
}

.form-change,
.form-change2 {
    cursor: pointer;
}

.register-hidden {
    transform: translateX(-500vh);
}

.hidden-scale {
    transform: scale(0)
}

.login-hidden {
    transform: translateX(500vh)
}

.cascading-right {
    margin-right: -50px;
}


@media (max-width: 991.98px) {
    .cascading-right {
        margin-right: 0;
    }
}

/** STYLE LOGIN PAGE END */

/** STYLE GRID PAGE START */


.p-grid {
    padding-top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.p-grid a {
    cursor: pointer;
    color: #232323;
}

.p-card {
    border: 1px solid #28282835;
    width: 200px;
}

.p-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transition: transform .3s ease-in-out;
}

.p-card:hover img {
    transform: scale(1.3);
}

.p-grid a:hover {
    color: #232323;
}

.grid-p-img {
    position: relative;
    background-color: #61616125;
    transition: background-color .5s ease-in-out;
}

.circle {
    position: absolute;
    border-radius: 100%;
    height: 198px;
    width: 198px;
    z-index: -1;
    transform: scale(0);
    transition: transform .5s ease-in-out, border-radius .1s ease-in-out;
}

.grid-p-img:hover {
    background-color: rgba(255, 255, 255, 0);
    transition: background-color .3s ease-in-out;
}


.grid-p-img:hover .circle {
    transform: scale(1);
    border-radius: 0;
    transition: transform .3s ease-in-out, border-radius .2s .1s ease-in-out;
}


.grid-p-name {
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-align: center;
}

.grid-p-nbr {
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.67);
}

.p-type-wrapper {
    display: flex;
    justify-content: space-between;
}

.grid-p-type1,
.grid-p-type2 {
    width: 80px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    color: rgb(255, 255, 255);
}

#btnReset {
    border: none;
    color: #ed4c4c;
}

/** STYLE GRID PAGE END */

/** STYLE DASHBOARD PAGE START */

.dash-table thead tr th {
    border-bottom: none;
}

.dash-table tbody tr td,
.dash-table tbody tr th {
    vertical-align: middle;
}

.resp_th {
    display: none;
}

@media screen and (max-width: 988px) {

    .resp_th {
        display: block;
    }

    .dash-table thead {
        display: none;
        border: none;
    }

    .dash-table tbody tr th {
        border: none;
    }

    .dash-table tbody tr {
        display: flex;
        flex-wrap: wrap;
        border: #cccccc .5px solid;
    }

    .dash-table tbody td {
        border-bottom: none;
        border-top: none;
    }

    .btn-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .btn-wrapper td {
        display: block;
    }

    /*     .dash-tr {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
    } */
}

.del-btn {
    background-color: #ffffff;
    border: none;
    color: #0069d1;
}

/** STYLE DASHBOARD PAGE END */


/**STYLE EDIT PAGE START */

.select2-selection__choice {
    border: none;
    border-radius: 10px;
    background-color: none;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    margin-right: 5px;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border-radius: 4px;
    cursor: text;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0;
    padding-left: 20px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    background-color: transparent;
    border: none;
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 0 4px;
    position: absolute;
    left: 0;
    top: 0;
}

.select2-container .select2-search--inline .select2-search__field {
    text-align: center;
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-left: 5px;
    padding: 0;
    max-width: 100%;
    resize: none;
    height: 25px;
    vertical-align: bottom;
    font-family: sans-serif;
    overflow: hidden;
    word-break: keep-all;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    background-color: none;
}

.select2-selection__choice__remove {
    color: white;
    cursor: pointer;
    margin-right: 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
    background-color: transparent;
    color: #333;
    outline: none;
}

.select2-selection__choice__remove:hover {
    color: white;
    cursor: pointer;
    background-color: transparent;
    margin-right: 5px;
}

/* Vous pourriez vouloir ajouter des couleurs spécifiques pour chaque type */
.select2-selection__choice[title="Feu"] {
    background-color: #E3350D !important;
    /* Couleur pour le type Feu */
}

.select2-selection__choice[title="Plante"] {
    background-color: #68D037 !important;
    /* Couleur pour le type Feu */
}

.select2-selection__choice[title="Eau"] {
    background-color: #1E90FF !important;
    /* Couleur pour le type Feu */
}

.select2-selection__choice[title="Insecte"] {
    background-color: #729f3f !important;
    /* Couleur pour le type Feu */
}

.select2-selection__choice[title="Poison"] {
    background-color: #800080 !important;
    /* Couleur pour le type Feu */
}

.select2-selection__choice[title="Normal"] {
    background-color: #a4acaf !important;
    color: #1f1f1f;
    /* Couleur pour le type Feu */
}

.select2-selection__choice[title="Glace"] {
    background-color: #289e9e !important;
    /* Couleur pour le type Feu */
}

.select2-selection__choice[title="Psy"] {
    background-color: #a549a5 !important;
    /* Couleur pour le type Feu */
}

.select2-selection__choice[title="Acier"] {
    background-color: #3d5256 !important;
    /* Couleur pour le type Feu */
}

.select2-selection__choice[title="Combat"] {
    background-color: #700000 !important;
    /* Couleur pour le type Feu */
}

.select2-selection__choice[title="Ténèbres"] {
    background-color: #1a1a1a !important;
    /* Couleur pour le type Feu */
}

.select2-selection__choice[title="Roche"] {
    background-color: #80744a !important;
    /* Couleur pour le type Feu */
}

.select2-selection__choice[title="Sol"] {
    background-color: #865036 !important;
    /* Couleur pour le type Feu */
}

.select2-selection__choice[title="Spectre"] {
    background-color: #353e71 !important;
    /* Couleur pour le type Feu */
}

.select2-selection__choice[title="Vol"] {
    background-color: #5d75a1 !important;
    /* Couleur pour le type Feu */
}

.select2-selection__choice[title="Dragon"] {
    background-color: #0C69C8 !important;
    /* Couleur pour le type Feu */
}

.select2-selection__choice[title="Fée"] {
    background-color: #EE90E6 !important;
    color: #1f1f1f;
    /* Couleur pour le type Feu */
}

.type-container .select2-selection__choice {
    font-size: 22px;
}

#retour,
#valider {
    background-color: #A4A4A4;
    width: 49%;
    height: 80px;
    font-size: 2em;
    color: white;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
}

#valider {
    text-align: right;
    padding-right: 20px;

}



.p-input-desc {
    padding: 15px;
    resize: none;
    font-size: 18px;
}

.input-taille,
.input-poids {
    width: 40px;
    height: 25px;
}

.input-taille[value],
.input-poids {
    font-size: 18px;
}

.ind-wrapper h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-nbr {
    text-align: center;
    width: 30%;
}

.input-h1 {
    position: relative;
    z-index: 2;
    background-color: #FFF;
    margin-top: -50px;
    font-size: 36px;
    font-weight: 520;
    text-align: center;
    padding: 10px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border: none;
}

/* select.type-select-size {
    text-align: center;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
} */

.evo input {
    text-align: center;
}

.type-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.input-h4 {
    text-align: center;
    color: #616161;
    font-weight: 200;
    font-size: 16px;
}

.image-upload>input {
    display: none;
}

.console {
    background-color: #000;
    color: #00ff00;
    font-family: "Courier New", monospace;
    padding: 10px;
    overflow-y: scroll;
    height: auto;
    max-width: 1440px;
}

/** Search Bar */

.nav-link {
    justify-self: center;
}

.navbar-expand-xl .navbar-collapse {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: center !important;
}

/* Media query en dessous de 1200px */
@media screen and (max-width: 1200px) {

    .navbar-collapse {
        display: flex !important;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
    }

    .navbar-collapse ul {
        flex-direction: row;

    }
}

/* Media query en dessous de 350px */
@media screen and (max-width: 350px) {
    .navbar-expand-xl .navbar-collapse {
        width: 100%;
    }

    .navbar-expand-xl .navbar-collapse form {
        flex-direction: column !important;
    }
}


/**STYLE Footer START */

.footer-container {
    max-width: 1440px;
}



/** Style Pagination START */

.pagination,
.currentPage {
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1000px) {

    .type-container {
        flex-direction: row;
    }
}