* {
    margin: 0;
    padding: 0;
    font-family: "Flexo-Medium", arial, sans-serif;
}

body {
    overflow-x: hidden;
}

h1 {
    position: relative;
    z-index: 2;
    background-color: #FFF;
    margin-top: -50px;
    font-size: 36px;
    font-weight: 520;
    text-align: center;
    padding: 10px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    font-family: "Flexo-Medium", arial, sans-serif;
}

h4 {
    text-align: center;
    color: #616161;
    font-weight: 200;
    font-size: 16px;
}

#precedent,
#suivant {
    background-color: #A4A4A4;
    width: 49%;
    height: 80px;
    font-size: 2em;
    color: white;
}

#precedent {
    padding-left: 25%;
}

#suivant {
    text-align: right;
    padding-right: 27%;
}

.ind-wrapper {
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ind-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.p-header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.p-header-nav:first-child {
    text-align: left;
}

.p-header-nav a:last-child {
    text-align: right;
}

.p-header-title {
    margin-top: -30px;
}

#section1 {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

#pokemon {
    background-color: #F2F2F2;
    margin-right: 15px;
}

#section1 p {
    font-size: 1.25em;
    margin-bottom: 25px;
}

.desc {
    margin-top: 20px;
    margin-left: 15px;
    max-width: 450px;
}

#section1 ul {
    font-size: 20px;
    background-color: #336377;
    color: #fffbfb;
    padding: 15px 50px;
    padding-bottom: 25px;

}

#section1 li {
    margin-top: 25px;
}

.vert {
    color: #00F6CA
}

h6 {
    font-size: 25px;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 30px;
}
body p {
    font-size: 2em;
    margin: 20% 0;
}
.type {

    width: 130px;
    height: 28px;
    color: #fffbfb;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    text-transform: uppercase;
}

.evo-type {
    font-size: 13px;
    width: 85px;
    height: 24px;
    color: #fffbfb;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    text-transform: uppercase;
}


.type-container {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.evo img {
    height: 160px;
    background-color: #616161;
    border-radius: 50%;
}

h2 {
    color: #fffbfb;
    margin: 20px;
    font-size: 2em;
}
.evo a {
    text-decoration: none;
    flex-direction: column;
    display: flex;
}
.evolutions {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #336377;
    padding: 20px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.evo-container {
    display: flex;
    align-items: center;
}

.evo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px 50px;
}

.arrow {
    font-size: 80px;
    margin-left: 10px;
    margin-right: 10px;
    color: #FFF;
}


.poke {
    color: #FFF;
    font-size: 1.5em;
}

/* RESPONSIVE */

@media screen and (max-width: 1000px) {
    .evo-container {
        display: block;
        text-align: center;
    }
    .evolutions {
        max-width: 400px;
    }
    .arrow {
        display: inline-block;
        transform-origin: 0 0;
        transform: rotate(90deg);
       justify-content: center;
       position: relative;
       left: 37%;
    
    }
    #section1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        
      }
      
      #pokemon {
        margin-bottom: 20px;
      }
      
      .desc ul {
        flex-direction: column;
        max-width: 420px;
      }
}
@media screen and (max-width: 450px) {
    #pokemon {
        width: 250px;
    }
    #section1 {
        max-width: 300px;
    }
}


/** STYLE HEADER START */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    border-bottom: none;
}

.header-img-ctn {
    object-fit: cover;
}

.title-container img {
    width: 500px;
}



/** STYLE HEADER END */


/** STYLE NAV START */
.main-nav {
    width: 1440px;
    padding: 0;
    margin: 0;
    border: #bfbfbf 1px solid;
    margin-bottom: 0px;
    border-top: none;
    display: flex;
    justify-content: center;
}

.main-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.main-nav li {
    list-style: none;
    z-index: 10;
}

.main-nav li a {
    color: #464646;
    text-decoration: none;
}

.nav-item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    background: #ffffff;
    color: #464646;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 10;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

#navbarSupportedContent .nav-item {
    z-index: 1;
}

.ni-login {
    background: #3D3D3D;
    width: 50px;
    height: 49px;
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

/* .ni-login svg {
    justify-content: center;

} */


.nav-login-person {
    padding: 0;
    margin: 0;
}

.login-buttons {
    border: #bfbfbf 1px solid;
    padding: 10px;
    background-color: #FFFFFF;
    position: absolute;
    z-index: 9;
    transform: translateY(-48px);
    transition: transform ease-in-out 200ms,
        z-index ease-in-out 500ms;
}

.login-buttons-show {
    transform: translateY(0px);
    z-index: 0;
}

.ni-1 {
    border-bottom: #919191 5px solid;
    transition: background-color ease-in-out 200ms;
}

.ni-1:hover {
    background-color: #919191;
    color: #ffffff;
}

.ni-2 {
    border-left: #ebebeb solid 0.5px;
    border-bottom: #E3350D 5px solid;
    transition: background-color ease-in-out 200ms;
}

.ni-2:hover {
    background-color: #E3350D;
    border-color: #E3350D;
    color: #ffffff;
}

.ni-3 {
    border-left: #ebebeb solid 0.5px;
    border-bottom: #EE6B2F 5px solid;
    transition: background-color ease-in-out 200ms;
}

.ni-3:hover {
    background-color: #EE6B2F;
    border-color: #EE6B2F;
    color: #ffffff;
}

.ni-4 {
    border-left: #ebebeb solid 0.5px;
    border-bottom: #23B028 5px solid;
    transition: background-color ease-in-out 200ms;
}

.ni-4:hover {
    background-color: #23B028;
    border-color: #23B028;
    color: #ffffff;
}

.ni-5 {
    border-left: #ebebeb solid 0.5px;
    border-bottom: #2F42EE 5px solid;
    transition: background-color ease-in-out 200ms;
}

.ni-5:hover {
    background-color: #2F42EE;
    border-color: #2F42EE;
    color: #ffffff;
}

.ni-6 {
    border-left: #ebebeb solid 0.5px;
    border-bottom: #EAEE2F 5px solid;
    transition: background-color ease-in-out 200ms;
}

.ni-6:hover {
    background-color: #f5f845;
    border-color: #f5f845;
    color: #8d8d8d;
}

/** STYLE NAV END */